<h1> Time is Gold <h1>
<h2>
<%= link_to "My Blog",           controller: "posts" %>
<%= link_to "Travel Adventures", controller: "posts" %>
<%= link_to "Nerd Alert",        controller: "posts" %>
<%= link_to "Gadgets",           controller: "posts" %>
<%= link_to "Marley",            controller: "posts" %>
<%= link_to "Food",              controller: "posts" %>
<%= link_to "Sports",            controller: "posts" %>
<%= link_to "Fitness",           controller: "posts" %>
<%= link_to "Books",             controller: "posts" %>
<%= link_to "Movies",            controller: "posts" %>
<%= link_to "Family",            controller: "posts" %>
</h2>
